{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-3" style="margin-bottom:100px;">
<img src="{{c.image.url}}" height="500px" width="100%">
</div>
<div class="container-fluid mt-1" style="margin-bottom:100px;">
    <h3 class="text-center fw-bold">{{c.name}}</h3>
    <p style="line-height:1;text-align:justify;">
        {{c.desc}}
<div class="container-fluid">
    <div class="row">
        {% for i in p %}

            <div class="col-sm-4">
                <div class="card" style="width: 18rem;margin-bottom=100px;">
  <img src="{{i.image.url}}" class="card-img-top" alt="..." height="250px" width="100px">
  <div class="card-body">
    <h5 class="card-title text-center">{{i.name}}</h5>
    <p class="card-text"><center>{{i.desc}}</center> </p>
      <h5 class="card-title text-center">{{i.price}}</h5>
<!--      <p class="card-text">RS-800</p>-->
    <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary">DETAILS</a>
  </div>
      </div></div>    {% endfor %}

  </div>
         </div>
</p>


{% endblock %}
